.dataPicker {
  $gap: 8px;

  --background-color: #00a1e6;
  --hover-color: rgba(255, 255, 255, 0.2);
  --border-color: transparent;
  --border-radius: 100%;

  width: 100%;
  height: auto;
  background-color: var(--background-color);
  position: relative;
  border-radius: 4px;
  container-type: inline-size;
  backdrop-filter: blur(12px);

  > .header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 16px 8px;
    gap: 20px;

    > button {
      width: auto;
      min-height: 42px;
      height: 100%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: var(--border-radius);
      background-color: rgba(255, 255, 255, 0);
      transition: 250ms;
      flex-shrink: 0;
      border: none;
      border: solid 1px var(--border-color);

      &:hover {
        background-color: var(--hover-color);
      }

      i {
        font-size: 5cqw;
        color: white;
      }
    }

    p {
      width: 100%;
      height: 100%;
      min-height: 42px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      color: white;
      font-size: 4cqw;
      transition: 250ms;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 1000px;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }

  .dayNames {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: $gap;
    margin-bottom: 16px;
    padding: 0px 16px 0px 16px;
    transition: 250ms;
    opacity: 1;

    .dayName {
      width: calc(100% / 7);
      text-align: center;
      color: white;
      font-weight: 500;
      font-size: 3cqw;
    }
  }

  .dayNames.close {
    opacity: 0;

    + .content {
      transform: translateY(-36px);
    }
  }

  .content {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0px 16px 0px 16px;
    transition: 250ms;

    .years {
      width: 100%;
      height: 100%;
      background-color: var(--background-color);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: $gap;
      transition: 500ms;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.9);
      padding: 0px 16px 0px 16px;

      .year {
        width: calc((100% / 4) - ($gap * (3 / 4)));
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 250ms;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border-radius: var(--border-radius);
        font-size: 3cqw;
        border: solid 1px var(--border-color);

        &:hover {
          background-color: var(--hover-color);
        }
      }

      .year.current {
        background-color: var(--hover-color);
        font-weight: 500;
      }
    }

    .months {
      width: 100%;
      height: 100%;
      background-color: var(--background-color);
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 10;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: $gap;
      transition: 500ms;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.9);
      padding: 0px 16px 0px 16px;

      .month {
        width: calc((100% / 4) - ($gap * (3 / 4)));
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 250ms;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border-radius: var(--border-radius);
        font-size: 3cqw;
        border: solid 1px var(--border-color);

        &:hover {
          background-color: var(--hover-color);
        }
      }

      .month.current {
        background-color: var(--hover-color);
        font-weight: 500;
      }
    }

    .months.open,
    .years.open {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }

    .days {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: $gap;

      .day {
        width: calc((100% / 7) - ($gap * (6 / 7)));
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 250ms;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 3.5cqw;
        border: solid 1px var(--border-color);

        &:hover {
          background-color: var(--hover-color);
        }

        &:empty {
          border: none;

          &:hover {
            background-color: transparent !important;
          }
        }
      }

      .day.current {
        background-color: var(--hover-color);
        font-weight: 500;
      }

      .day.empty {
        &:hover {
          background-color: var(--hover-color);
          cursor: default;
        }
      }
    }
  }
}
